body{
	background-size: 100%
}
.title{
	position: fixed;
	left: 20%;
	top: 27%;
	font-size: 470%;
	width: 800px;
}
.hr{
	position: fixed;
	left: 30%;
	top: 63%;
	color: black;
	width: 700px;
	height: 1px;
	border: 0px;
	background-color: gray;
}
.tr{
	position: fixed;
	left: 76%;
	top: 17%;
	color: black;
	width: 1px;
	height: 400px;
	border: 0px;
	background-color: gray;
}
.more{
	position: fixed;
	left: 78%;
	top: 68%;
}